<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/myheader::headTag"></head>
<body>
<div th:replace="fragments/myheader::myNavbar"></div>
<div class="container">
<h3 class="text-center">Manage Addresses</h3>
	<div class="container w-50">
		<div th:with="address = ${address}">
				<h4>Shipping Address</h4>
				<br/>
				<div th:text="${address.fullname}"></div>
				<div th:text="${address.street}"></div>
				<span th:text="${address.city}"></span>, <span th:text="${address.state}"></span> <span th:text="${address.zip}"></span>
				<br/>
				<div th:text="${address.phone}"></div>
				<br/>
				<a href="/user/address/modify">Update Address</a>
		</div>
	</div>
</div>
</body>
</html>