<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/myheader::headTag"></head>
<body>
	<div th:replace="fragments/myheader::myNavbar"></div>
	<div class="container">
		<h3 class="text-center">Order Details</h3>
		<div class="container w-50">
			<div th:with="address = ${address}">
				<h4>Shipping Address</h4>
				<br />
				<div th:text="${address.fullname}"></div>
				<div th:text="${address.street}"></div>
				<span th:text="${address.city}"></span>, <span
					th:text="${address.state}"></span> <span th:text="${address.zip}"></span>
				<br />
				<div th:text="${address.phone}"></div>
			</div>
			<br/>
			<div>
				<h4>Payment Details</h4>
				Ehhhh don't worry, it's on us this time
			</div>
			<br/>
			<h4>Order Details</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${products}">
						<td th:text="${product.productTitle}"></td>
						<td th:text="${product.productCost}"></td>
					</tr>
				</tbody>
			</table>
			
			<br/> 
			<a href="/user/orders">
				<button class="btn btn-primary">Return to Orders</button>
			</a>
			<br/>
			<br/>
			<a href="/user/home">
				<button	class="btn btn-primary">Return to User Home</button>
			</a>
		</div>
	</div>
</body>
</html>