<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>com.listener.MyLifecycleListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<display-name>DBServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DBServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProductServlet</servlet-name>
		<display-name>AddProductServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.AddProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailsServlet</servlet-name>
		<display-name>DetailsServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/DBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/AddProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailsServlet</servlet-name>
		<url-pattern>/DetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
</web-app>
